* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0.9em
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(255, 255, 255, 0.7);
}

.container{
    margin-top: 20px;
    margin-bottom: 20px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;

}

section{
    height: 100vh;
    width: 75vw;
    scroll-snap-align: start;
    overflow:auto;
    margin: 0 auto;
    z-index: 0;
    text-align: center;
}

table{
    margin: 20px auto;
    min-width: 60vw;
    text-align: center;
}

th{
    font-weight: bold;
    color: white;
    background-color: #2d2d2d;
}

td, th{
    padding: 5px;
}

.vehicle{
    background-color: rgba(255, 255, 255, 0);
    font-size: 1em;
}

.components{
    background-color: rgba(255, 255, 255, 0);
    font-size: 1em;
}

.operator{
    background-color: rgba(255, 255, 255, 0);
    font-size: 1em;
}

.route{
    background-color: rgba(255, 255, 255, 0);
    font-size: 1em;
}

.query-div {
    position: relative;
    top: 15%;
    left: 10%;
    right: 10%;
    justify-content: center;
}

.query-content {
    display: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 8%;
}

.dropdown-select {
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 50%;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.dropdown-select:hover, .dropdown-select:focus {
    border-color: #80bdff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    outline: none;
}

.dropdown-select option {
    padding: 10px;
}

.submit-button {
    background-color: #FFC100;
    color: #ffffff;
    border: none;
    padding: 16px 35px;
    font-size: 15px;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-button:hover {
    background-color: #d98c00;
}


#form-mod-2 {
    display: none;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 30%;
    margin-left: 32%;
}

#form-mod-2 input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#form-mod-2 input[type="text"]:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(128, 189, 255, 0.6);
}

#form-mod-2 input[type="text"]::placeholder {
    color: #6c757d;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
    pointer-events: none;
    position: absolute;
    z-index: 0;
}

.query-container {
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 2vh; /* Adjust height as needed, 100vh centers the content vertically within the viewport */
    padding: 20px; /* Add some padding */
    background-color: #FFC100; /* Same background color as the "Run Query" button */
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
    text-align: center; /* Center text within the child element */
    border-radius: 5px; /* Match the button's border radius */
    margin: 20px auto; /* Center the div within the parent container */
    max-width: 80%; /* Optional: Limit the maximum width of the container */
}

.query-container-big {
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 7vh; /* Adjust height as needed, 100vh centers the content vertically within the viewport */
    padding: 20px; /* Add some padding */
    background-color: #FFC100; /* Same background color as the "Run Query" button */
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
    text-align: center; /* Center text within the child element */
    border-radius: 5px; /* Match the button's border radius */
    margin: 20px auto; /* Center the div within the parent container */
    max-width: 80%; /* Optional: Limit the maximum width of the container */
}

.sql-query {
    white-space: pre-wrap; /* Preserve whitespace and wrap text */
    word-wrap: break-word; /* Allow text to break and wrap onto the next line */
    overflow-wrap: break-word; /* Ensure long words also wrap properly */
    color: #201e1e;
}
