{% extends 'base.html' %}

{% block head %}
<title>Database Tables</title>
{% endblock %}

{% block body %} 
<div class='Content'> 
    <div class="container">
        <section class="vehicle">
            <h1>Vehicles</h1>

            <table class='vehicles_tbl'> 
                <tr>
                    <th>Plate Number</th>
                    <th>Vehicle Type</th>
                    <th>Manufacturer</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Revenue</th>
                    <th>Engine Condition</th>
                    <th>Seat Capacity</th>
                    <th>Operation Times</th>
                    <th>Operator Number</th>
                    <th>Route ID</th>
                </tr>
                {% for row in vehicles %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                    <td>{{ row[7] }}</td>
                    <td>{{ row[8] }}</td>
                    <td>{{ row[9] }}</td>
                    <td>{{ row[10] }}</td>
                </tr>
                {% endfor %}
            </table>
        </section>

        <section class="components">
            <h1>Components</h1>

            <table>
                <tr>
                    <th>Model</th>
                    <th>Brake System</th>
                    <th>Clutch</th>
                    <th>Tires</th>
                    <th>Battery</th>
                    <th>Bearings</th>
                    <th>Belt</th>
                    <th>Fuel Filter</th>
                    <th>Piston Ring</th>
                    <th>Lights</th>
                    <th>Body</th>
                    <th>Electrical System</th>
                </tr>
                {% for row in components%}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                        <td>{{ row[7] }}</td>
                        <td>{{ row[8] }}</td>
                        <td>{{ row[9] }}</td>
                        <td>{{ row[10] }}</td>
                        <td>{{ row[11] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </section>

        <section class="operator">
            <h1>Operators</h1>

            <table> 
                <tr>
                    <th>Operator Number</th>
                    <th>Name of Operator</th>
                    <th>Address</th>
                    <th>Occupation</th>
                    <th>No. of Operational Units</th>
                    <th>Age</th>
                    <th>Contact Number</th>
                    
                </tr>
                {% for row in operators %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                </tr>
                {% endfor %}
            </table>
        </section>

        <section class="route">
            <h1>Routes</h1>

            <table> 
                <tr>
                    <th>Route ID</th>
                    <th>Start Route</th>
                    <th>End Route</th>
                    <th>Route Length</th>
                    <th>Base Fare</th>
                    
                </tr>
                {% for row in routes %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                </tr>
                {% endfor %}
            </table>
        </section>
    </div>
{% endblock %}